<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://java.sun.com/xml/ns/javaee" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ProjetoHibernate</display-name>
  <welcome-file-list>
    <welcome-file>CategoriaController</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UsuarioController</display-name>
    <servlet-name>UsuarioController</servlet-name>
    <servlet-class>controle.UsuarioController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsuarioController</servlet-name>
    <url-pattern>/UsuarioController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CadastroController</display-name>
    <servlet-name>CadastroController</servlet-name>
    <servlet-class>controle.CadastroController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastroController</servlet-name>
    <url-pattern>/CadastroController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProdutoController</display-name>
    <servlet-name>ProdutoController</servlet-name>
    <servlet-class>controle.ProdutoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProdutoController</servlet-name>
    <url-pattern>/ProdutoController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>controle.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategoriaController</display-name>
    <servlet-name>CategoriaController</servlet-name>
    <servlet-class>controle.CategoriaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoriaController</servlet-name>
    <url-pattern>/CategoriaController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CarrinhoController</display-name>
    <servlet-name>CarrinhoController</servlet-name>
    <servlet-class>controle.CarrinhoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CarrinhoController</servlet-name>
    <url-pattern>/CarrinhoController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuscarController</display-name>
    <servlet-name>BuscarController</servlet-name>
    <servlet-class>controle.BuscarController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuscarController</servlet-name>
    <url-pattern>/BuscarController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessaoController</display-name>
    <servlet-name>SessaoController</servlet-name>
    <servlet-class>controle.SessaoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessaoController</servlet-name>
    <url-pattern>/SessaoController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CompraController</display-name>
    <servlet-name>CompraController</servlet-name>
    <servlet-class>controle.CompraController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CompraController</servlet-name>
    <url-pattern>/CompraController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutController</display-name>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>controle.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/LogoutController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginController2</display-name>
    <servlet-name>LoginController2</servlet-name>
    <servlet-class>controle.LoginController2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController2</servlet-name>
    <url-pattern>/LoginController2</url-pattern>
  </servlet-mapping>
</web-app>